<% layout("/layouts/boilerplate") -%>
<body>
<div class="scroll-container">
    <div class="scroll-content">
      <div class="offer"><img class="offer" src="health3.jpg" alt="Loading Error !!" />
      </div>
      <div class="offer"><img class='offer' src="fitness.jpg" alt="Loading Error !!" />
      </div>
      <div class="offer"><img class='offer' src='Doctors.avif' alt="Loading Error !!" /></div>
      <div class="offer"><img class='offer' src="medicine.jpg" alt="Loading Error !!" />
      </div>
    </div>
</div>

<div class="diet">
    <div class="diet-images">
        <div class="image1">
            <img src="foodPyramid.jpg" alt="Loading Error !!" />
        </div>
        <form>
            <button class="diet-btn">DIET PLAN <span>&rarr;</span></button>
        </form>
    </div>
</div>

<div class="tracker">
    <h1 class="h1">Check Your Fitness Level</h1>
    <form>
        <button class="btn-tracker" style="margin : 0px;border :0px;">EXPLORE</button>
    </form>
</div>

<div class="diet features">
    <p>EXPLORE</p>
    <div class="cards-diet">
        <div class="card1-diet">
            <a href="/Home/doctorreg">
                <img class="profilecards" src="one.jpg" alt="Diet Image 1">
            </a>
        </div>
        <div class="card2-diet">
            <a href="/Home/doctorreg">
                <img class="profilecards" src="two.jpg" alt="Diet Image 2">
            </a>
        </div>
    </div>
</div>

    
</div>
</body>